<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>C:\Users\rushy\Documents\NetBeansProjects\MovieMind\MovieMind\target\MovieMind-1.0-SNAPSHOT-jar-with-dependencies.jar</jar>
  <outfile>C:\Users\rushy\Documents\NetBeansProjects\MovieMind\MovieMind\target\MovieMind.exe</outfile>
  <errTitle>This Application Requires Java In Your System</errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl>http://java.com/download</downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>C:\Users\rushy\Documents\NetBeansProjects\MovieMind\MovieMind\target\images\icon.ico</icon>
  <singleInstance>
    <mutexName>MovieMind</mutexName>
    <windowTitle>MovieMind</windowTitle>
  </singleInstance>
  <jre>
    <path></path>
    <bundledJre64Bit>false</bundledJre64Bit>
    <bundledJreAsFallback>false</bundledJreAsFallback>
    <minVersion>1.8.0</minVersion>
    <maxVersion></maxVersion>
    <jdkPreference>preferJre</jdkPreference>
    <runtimeBits>64/32</runtimeBits>
  </jre>
  <versionInfo>
    <fileVersion>1.0.0.0</fileVersion>
    <txtFileVersion>1.0.0.0</txtFileVersion>
    <fileDescription>A Simple Application That Recommends Movies</fileDescription>
    <copyright>Bodavula Rama Krishna</copyright>
    <productVersion>1.0.0.0</productVersion>
    <txtProductVersion>1.0.0.0</txtProductVersion>
    <productName>MovieMind</productName>
    <companyName>BasementRobot (Bodavula Rama Krishna)</companyName>
    <internalName>MovieMind</internalName>
    <originalFilename>MovieMind.exe</originalFilename>
    <trademarks></trademarks>
    <language>ENGLISH_US</language>
  </versionInfo>
</launch4jConfig>